@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221, 100%, 50%;
    --foreground: 221, 100%, 52%;
    --card: 221, 100%, 54%; 
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 221 100% 50%;
    --primary-foreground: 240 74% 18%;
    --secondary: 240 74% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 221 100% 43%;
    --muted-foreground: 221 100% 34%;
    --accent: 219 100% 95%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 17 100% 52%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }

  .dark {
	  /* @todo add dark theme colors here */
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
